@import url("https://fonts.googleapis.com/css?family=Raleway");
/*Main Variables*/
/*Navigation Variables*/
/*Content Variables*/
.Nav {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  letter-spacing: 2px; }
  .Nav ul {
    text-align: center; }
  .Nav li {
    display: inline-block;
    font-family: Raleway, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    text-transform: lowercase;
    padding: 0 40px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    line-height: 32px;
    width: 100px; }
    .Nav li:hover {
      background: #EEE;
      /* For browsers that do not support gradients */
      background: -webkit-radial-gradient(white, white, rgba(255, 199, 0, 0.5));
      /* Safari 5.1 to 6.0 */
      background: -o-radial-gradient(white, white, rgba(255, 199, 0, 0.5));
      /* For Opera 11.6 to 12.0 */
      background: -moz-radial-gradient(white, white, rgba(255, 199, 0, 0.5));
      /* For Firefox 3.6 to 15 */
      background: radial-gradient(white, white, rgba(255, 199, 0, 0.5));
      /* Standard syntax */ }
  .Nav #About {
    background: #EEE;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(white, white, rgba(255, 199, 0, 0.5));
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(white, white, rgba(255, 199, 0, 0.5));
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(white, white, rgba(255, 199, 0, 0.5));
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(white, white, rgba(255, 199, 0, 0.5));
    /* Standard syntax */ }

/*Code for Main Content*/
img {
  display: block;
  margin: auto;
  margin-top: 78px;
  width: 15%;
  border-radius: 50%;
  border: 3px solid black;
  z-index: 999; }

/*Gets rid of hyperlink underlines*/
a:link {
  text-decoration: none; }

a:hover {
  color: #60F; }

body {
  max-width: 100%;
  overflow-x: hidden; }

.portrait {
  background: #FFF;
  /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#DDD, white, white);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#DDD, white, white);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#DDD, white, white);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(#DDD, white, white);
  /* Standard syntax */ }

.content {
  width: 70%;
  position: absolute;
  top: 45%;
  left: 17%;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid #FFF;
  background-color: white;
  font-family: Raleway, Verdana, sans-serif; }
  .content .leftside {
    width: 45%;
    float: left;
    clear: both;
    font-family: Raleway, Verdana, sans-serif; }
    .content .leftside .credentials li {
      padding: 8pxs; }
  .content .rightside {
    padding-right: 5%;
    width: 45%;
    float: right;
    font-family: Raleway, Verdana, sans-serif; }
    .content .rightside li {
      padding: 8px; }
  .content .bottom {
    float: left;
    clear: both; }
    .content .bottom p {
      font-family: Raleway, Verdana, sans-serif;
      font-size: 14px;
      background-color: #DDD;
      padding: 16px;
      line-height: 24px; }
  .content .footer {
    float: left;
    clear: both;
    border-top: 1px solid black;
    font-color: black;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    z-index: 2000;
    width: 100%; }
  .content .icons {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 25px; }
    .content .icons .fa {
      padding: 20px;
      width: 20px;
      height: 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px; }
    .content .icons .fa-linkedin {
      background: #0077B5;
      color: white;
      display: inline-block;
      position: relative;
      left: 40%; }
    .content .icons .fa-github {
      background: #333;
      color: white;
      display: inline-block;
      position: relative;
      left: 30%; }
    .content .icons .fa-twitter {
      background: #55ACEE;
      color: white;
      display: inline-block;
      position: relative;
      left: 50%; }

/*# sourceMappingURL=test.css.map */
